Extract the following fields and store the data as restaurants.csv.
* Restaurant Id
* Restaurant Name
* Country
* City
* User Rating Votes
* User Aggregate Rating (in float)
* Cuisines

In [8]:
import pandas as pd

#load the restaurant data from JSON
restaurant_data = pd.read_json(r'C:\Users\valkr\Desktop\Data Engineer CC4\gds_assessment\input\restaurant_data.json')

#display the first few rows to understand the structure
restaurant_data.head()

,results_found,results_start,results_shown,restaurants
0,29287,1,20,"[{'restaurant': {'R': {'res_id': 18649486}, 'a..."
1,7625,1,20,"[{'restaurant': {'R': {'res_id': 18707652}, 'a..."
2,21776,1,20,"[{'restaurant': {'R': {'res_id': 18392725}, 'a..."
3,16762,1,20,"[{'restaurant': {'R': {'res_id': 58882}, 'apik..."
4,12026,1,20,"[{'restaurant': {'R': {'res_id': 18893197}, 'a..."

In [10]:
#load country code data
country_codes = pd.read_excel(r'C:\Users\valkr\Desktop\Data Engineer CC4\gds_assessment\input\Country-Code.xlsx')

#display the first few rows to understand the structure
country_codes.head()

   Country Code    Country
0             1      India
1            14  Australia
2            30     Brazil
3            37     Canada
4            94  Indonesia