Extract the following fields and store the data as restaurants.csv.
* Restaurant Id
* Restaurant Name
* Country
* City
* User Rating Votes
* User Aggregate Rating (in float)
* Cuisines

In [31]:
import pandas as pd

#load the restaurant data from JSON
restaurant_data = pd.read_json(r'C:\Users\valkr\Desktop\Data Engineer CC4\gds_assessment\input\restaurant_data.json')

#display the first few rows to understand the structure
restaurant_data.head()

,results_found,results_start,results_shown,restaurants
0,29287,1,20,"[{'restaurant': {'R': {'res_id': 18649486}, 'a..."
1,7625,1,20,"[{'restaurant': {'R': {'res_id': 18707652}, 'a..."
2,21776,1,20,"[{'restaurant': {'R': {'res_id': 18392725}, 'a..."
3,16762,1,20,"[{'restaurant': {'R': {'res_id': 58882}, 'apik..."
4,12026,1,20,"[{'restaurant': {'R': {'res_id': 18893197}, 'a..."

In [10]:
#load country code data
country_codes = pd.read_excel(r'C:\Users\valkr\Desktop\Data Engineer CC4\gds_assessment\input\Country-Code.xlsx')

#display the first few rows to understand the structure
country_codes.head()

   Country Code    Country
0             1      India
1            14  Australia
2            30     Brazil
3            37     Canada
4            94  Indonesia

In [34]:
def normalise_restaurants(restaurants, country_codes):
    #to store data
    normalised_data = []
    #iterate through "restuarants"
    for restaurant_list in restaurants['restaurants']:
        #for each restaurant
        for restaurant in restaurant_list:
            restaurant_info = restaurant['restaurant']
            restaurant_json_country_code = restaurant_info['location']['country_id']
            #match restaurant_json_country_code with Country-Code.xlsx
            country_name = country_codes[country_codes['Country Code'] == restaurant_json_country_code]['Country'].values[0] if restaurant_json_country_code in country_codes['Country Code'].values else 'Unknown'

            normalised_data.append({
                'Restaurant Id': restaurant_info['R']['res_id'],
                'Restaurant Name': restaurant_info['name'],
                'Country': country_name,
                'City': restaurant_info['location']['city'],
                'User Rating Votes': restaurant_info['user_rating']['votes'],
                'User Aggregate Rating': float(restaurant_info['user_rating']['aggregate_rating']),
                'Cuisines': restaurant_info['cuisines']
            })

    return pd.DataFrame(normalised_data)

In [35]:
normalised_restaurants = normalise_restaurants(restaurant_data, country_codes)
#check structure
normalised_restaurants.head()

,Restaurant Id,Restaurant Name,Country,City,User Rating Votes,User Aggregate Rating,Cuisines
0,18649486,The Drunken Botanist,India,Gurgaon,4765,4.4,"Continental, Italian, North Indian, Chinese"
1,308322,Hauz Khas Social,India,New Delhi,13627,4.6,"Continental, American, Asian, North Indian, Ch..."
2,18856789,AIR- An Ivory Region,India,New Delhi,1819,4.1,"North Indian, Chinese, Continental, Asian"
3,307374,AMA Cafe,India,New Delhi,3252,4.4,"Cafe, Juices"
4,18238278,Tamasha,India,New Delhi,8112,4.4,"Finger Food, North Indian, Continental, Italian"

In [36]:
# Save data to CSV
normalised_restaurants.to_csv(r'C:\Users\valkr\Desktop\Data Engineer CC4\gds_assessment\output\restaurants.csv', index=False)